<div id="editPanel">
    <div>
      <input #itemTitle [(ngModel)]="todoItem.title" type="text" placeholder="Title" maxlength="25">
      <input #itemId [(ngModel)]="todoItem.id" type="hidden">
      <textarea #itemComment [(ngModel)]="todoItem.comment" rows="5" placeholder="Comment(optional)"></textarea>
      <span id="btnSave" class="button" (click)="saveItem(todoItem)">
      <i class="fas fa-save"></i>
      Save
      </span>
      <span id="btnDiscard" class="button">
      <i class="fas fa-ban"></i>
      Discard
      </span>
    </div>
    </div>