<div id="editPanel">
    <div>
      <input #itemTitle [(ngModel)]="todoItem.title" type="text" placeholder="Title" maxlength="25" required>
      <input #itemId [(ngModel)]="todoItem.id" type="hidden">
      <input #itemCategory [(ngModel)]="category.title" placeholder="Category">
      <span id="btnSave" class="button" (click)="saveItem(todoItem, category)">
      <i class="fas fa-save"></i>
      Save
      </span>
      <span id="btnDiscard" class="button" (click)="discard()">
      <i class="fas fa-ban"></i>
      Discard
      </span>
    </div>
    </div>