<div id="rightMenuPanel">
    <div id="filterAll" onclick="UseFilter()">
      <i class="fas fa-align-justify"></i>
      <span>All</span>
    </div>
    <div id="filterActive" onclick="UseFilter('active')">
      <i class="far fa-check-circle"></i>
      <span>Active</span>
    </div>
    <div id="filterDone" onclick="UseFilter('done')">
      <i class="fas fa-check-circle"></i>
      <span>Done</span>
    </div>
    <div onclick="DeleteAll()">
      <i class="fas fa-trash"></i>
      <span>Clear</span>
    </div>
    </div>