<div id="editPanel">
    <div>
      <input [ngModel]="TodoItem?.title" type="text" placeholder="Title" maxlength="25" value="{{TodoItem?.title}}" #itemTitle>
      <input #itemId [ngModel]="TodoItem?.id" type="hidden" value="{{TodoItem?.id}}">
      <textarea #itemComment [ngModel]="TodoItem?.comment" rows="5" placeholder="Comment(optional)" value="{{TodoItem?.comment}}"></textarea>
      <span id="btnSave" class="button" (click)="saveItem(itemId.value, itemTitle.value, itemComment.value)">
      <i class="fas fa-save"></i>
      Save
      </span>
      <span id="btnDiscard" class="button">
      <i class="fas fa-ban"></i>
      Discard
      </span>
    </div>
    </div>